@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
    font-size: 62.5%;
}
body {
    background-color: #eee;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.6;
    color: #666;
}

a {
    text-decoration: none;
    color: teal;
}
    a:hover {
        color: cadetblue;
    }

h2 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
}


.menu-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.meal-wrapper {
    max-width: 400px;
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 100px;
    background-color: #eee;
}
    .card__image img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

.card__content {
    position: relative;
}

.card__meta {
  margin-bottom: -24px;
}

.card__meta .rating {
  color:chocolate;
  font-size: 25px;
}
.card__meta .rating i {
  font-size: 20px;
}
/* card meta */
.card__meta .quantity, .date {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

.quantity {
  margin: 24px 0;
  margin-top: auto;
}

.comments_button {
  font-size: 22px;
  margin-left: 20px;
  color: burlywood;
  height: 100%;
}
.comments_button i{
  margin-bottom: auto;
}



.comments, .card__article {
  max-height: 500px;
}

.comments {
  margin-top: 30px;
}

.comments > div {
  margin-bottom: 0px;
}

.comments h6{
  display: inline-block;
   font-weight: bold;
   margin: 0px;

}
.comments .date {
  font-size: 0.7em;
}

.card__article  {
  transition: max-height 0.2s linear;

}

.hide {
  max-height: 0px;
  overflow: hidden;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
    .card__article a:hover {
        color: #2980b9;
    }

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

.card__author {}

    .card__author img,
    .card__author-content {
      display: flex;
      justify-content: space-between;

        vertical-align: middle;
    }

    .card__author-content :first-child {

    }

    .card__author-content > :last-child {
      color: teal;
      font-size: 27px;
      line-height: 1;
    }

    .card__author img{
        border-radius: 50%;
        margin-right: 0.6em;
    }

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card_share a {
  color: real;
}

.card__social {
    color: teal;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 250px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
    .card__social--active {
        visibility: visible;
        /*z-index: 3;*/
        transform: translateZ(0);
        transform: translateX(-48px);
        transition: transform 0.35s ease;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

.share-toggle {
    z-index: 2;
}
#share {
    text-decoration: none;
}
.share-toggle:before {
    text-decoration: none;
    content:  "\f07a";
    font-family: 'FontAwesome';
}
    .share-toggle.share-expanded:before {
        content: "\f00d";
    }

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow:
            0 2px 4px rgba(0,0,0, 0.12),
            0 2px 4px rgba(0,0,0, 0.24);
}
    .share-icon:hover,
    .share-icon:focus {
        box-shadow:
            0 3px 6px rgba(0,0,0, 0.12),
            0 3px 6px rgba(0,0,0, 0.24);

        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #00abe3;
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

    .facebook:hover,
    .twitter:hover,
    .googleplus:hover {
        color: #eee;
    }

.rotate {
  transform: rotate(180deg);
  margin-top: 4px;
}
.show_description {
  transition: transform 0.4s ease;
  height: 16px;
  margin-top: 2px;
}
.card__article > div {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.description {
  max-height: 500px;
  transition: max-height 1s ease;
}

.description:hover{
  cursor: pointer;
}

.description.short {
  max-height: 50px;
  overflow: hidden;
}

.mdl-js-button {
  border: none;
  background-color: white;
}

.mdl-menu__outline, .mdl-menu__container{
  width:44px !important;
}

.mdl-menu {
    clip: rect(0px 44px 256px 0px) !important;
    background-color: whitesmoke;
}
